<ion-header>
  <ion-toolbar color ="danger">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-title>All Interviews</ion-title>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let group of groupedInterviewees | keyvalue">
        <ion-item-divider color="primary">
          <ion-label>{{ group.key === todayDateString ? 'Today' : group.key }}</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let item of group.value">
          <ion-card class="custom-card">
            <ion-card-content>
              <p>ID: {{ item.int_id }}</p>
              <p>Name: {{ item.name }}</p>
              <p>Surname:{{ item.surname }}</p>
              <p>Email: {{ item.email }}</p>
              <p>Date: {{ item.date }}</p> 
              <p>Status: {{ item.Status }}</p>
              
              <ion-col>
                <!-- Display ion-select if showSelect property is true -->
                <ion-select [(ngModel)]="item.selectedOption" (ionChange)="updateField(item.int_id,item.selectedOption)" placeholder="Update Status">
                  <ion-select-option value="In Progress">In Progress</ion-select-option>
                  <ion-select-option value="Interviewed">Interviewed</ion-select-option>
                  <ion-select-option value="Waiting">Waiting</ion-select-option>
                </ion-select>
                
                <!-- Display selected option if available -->
                <!-- <ion-label *ngIf="item.selectedOption">Selected: {{ item.selectedOption }}</ion-label> -->
              </ion-col>
            </ion-card-content>
         
  
     
          </ion-card>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
  