<ion-menu contentId="main-content"  >
  <ion-header >
    <ion-toolbar>
      <ion-title class="munu">Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <ion-list >
      <ion-item button (click)="goToMenuPage()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-label>Back to Menu</ion-label>
      </ion-item>
      <ion-item button (click)="goToGraded()">
        <ion-icon slot="start" name="checkmark-done-sharp"></ion-icon>
        <ion-label>Graded Interviews</ion-label>
      </ion-item>
      <ion-item button (click)="goToAllUsers()">
        <ion-icon slot="start" name="person-add"></ion-icon>
        <ion-label>All Users</ion-label>
      </ion-item>
      <ion-item button (click)="goToScheduled()">
        <ion-icon slot="start" name="book"></ion-icon>
        <ion-label>Scheduled Interviews</ion-label>
      </ion-item>
      <ion-item button  (click)="goToAllApplicants()">
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>All Applicants</ion-label>
      </ion-item>
      <ion-item button (click)="goToHistory()" >
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item button  (click)="presentConfirmationAlert()">
        <ion-icon slot="start" name="exit"></ion-icon>
        <ion-label>Sign Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start" class="phuto" (click)="goToHomePage()">
        <img src="assets\MUT LOGO.png" >
      </ion-buttons>
      <h2 class="header-title">ADD USER DASHBOARD</h2>
      <ion-buttons slot="end">
        <ion-button>
            <ion-button id="popover-button"><ion-icon name="person"></ion-icon></ion-button>
         
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list >
                  <ion-item lines="none" [button]="true" [detail]="false" (click)="goToView()"><ion-icon name="eye"></ion-icon> &nbsp;  VIEW PROFILE</ion-item>
                  <ion-item lines="none" [button]="true" [detail]="false" (click)="goToAllUsers()"><ion-icon name="eye" ></ion-icon> &nbsp;  Registered Users</ion-item>
                  <ion-item lines="none" [button]="true" [detail]="false"  (click)="presentConfirmationAlert()"><ion-icon color="danger" name="exit"></ion-icon>&nbsp;<p>LOGOUT</p></ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>




<ion-content [fullscreen]="true" style="--background: url('assets/tiny.jpg') no-repeat center / cover;">

  <div class="info">
    <ion-label >ADD & GRANT USER PRIVILEGES</ion-label>
  </div>

  <div class="cont">
    <ion-card>
      <ion-card-header>
        <ion-card-title text-align="center">Add User Info</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>

          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-input type="text" name="name" [(ngModel)]="name" (input)="nameError=null;"></ion-input>
            <div class="error-message" *ngIf="nameError">{{ nameError }}</div>
          </ion-item>
       

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-input type="email" [(ngModel)]="email" name="email" (input)="emailError = null;"></ion-input>
            <div class="error-message" *ngIf="emailError">{{ emailError }}</div>
          </ion-item>

        
          <ion-item>
            <ion-label position="floating">Position</ion-label>
            <ion-icon name="briefcase" slot="start"></ion-icon>
            <ion-input type="text" name="position" [(ngModel)]="position" (input)="positionError = null;"></ion-input>
            <div class="error-message" *ngIf="positionError">{{ positionError }}</div>
          </ion-item>
         
          <ion-item>
            <ion-label position="floating">Staff Number</ion-label>
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-input type="text" name="staffNumber" [(ngModel)]="staffNumber" (input)="staffError = null;"></ion-input>
            <div class="error-message" *ngIf="staffError">{{ staffError }}</div>
          </ion-item>
        

      </ion-card-content>
    </ion-card>
    

    <div class="info">
    <ion-label >ADD ROLE</ion-label>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>


        <ion-item>
          <ion-label>
            <ion-icon name="time"></ion-icon>
            History
          </ion-label>
          <ion-toggle slot="end"  (ionChange)="getHistoryValue($event)"></ion-toggle>
        </ion-item>
        
        <ion-item>
          <ion-label>
            <ion-icon name="stats-chart"></ion-icon>
            All Users
          </ion-label>
          <ion-toggle slot="end" (ionChange)="getAllUsersValue($event)"></ion-toggle>
        </ion-item>
        
        <ion-item>
          <ion-label>
            <ion-icon name="briefcase"></ion-icon>
            All Applicants
          </ion-label>
          <ion-toggle slot="end" (ionChange)="getApplicantsValue($event)"></ion-toggle>
        </ion-item>
        
        <ion-item>
          <ion-label>
            <ion-icon name="school"></ion-icon>
           Scheduled interviews
          </ion-label>
          <ion-toggle slot="end"(ionChange)="getUpcomingValue($event)"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>
            <ion-icon name="person-add-sharp"></ion-icon>
            AddUser
          </ion-label>
          <ion-toggle slot="end"(ionChange)="getAdduserValue($event)"></ion-toggle>
        </ion-item>
        <ion-item>
          
            <ion-label>
              <ion-icon name="person-add-sharp"></ion-icon>
              Score-Capture
            </ion-label>
            <ion-toggle slot="end"(ionChange)="getScoreValue($event)"></ion-toggle>
          </ion-item>

          <ion-item>
          <ion-label>
            <ion-icon name="checkmark-done-sharp"></ion-icon>
            Graded Interviews
          </ion-label>
          <ion-toggle slot="end"(ionChange)="getMarksValue($event)"></ion-toggle>
        </ion-item>
        
       
        <ion-button color="danger" fill="outline" class="ion-margin-top" (click)="deleteUser()">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Remove
        </ion-button>
        <ion-button color="medium" fill="outline" class="ion-margin-top" (click)="updateUser()">
          <ion-icon slot="start" name="pencil-outline"></ion-icon>
          Update
        </ion-button>
        
        <ion-button color="success" fill="outline" class="ion-margin-top" (click)="Validation()">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Assign
        </ion-button>
        

      </ion-card-content>
    </ion-card>


  </div>
  
  
</ion-content>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
