.header-title {
  color: hsl(0, 0%, 0%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.maroon{
    background-color: maroon;
 }
 img{
  width: 100px; /* Adjust the desired width */
  height: 60px; /* Adjust the desired height */
 }
 .menu {
   background-color: lightgoldenrodyellow;
   width: 98%;
   //margin-left:.5px;
 
   border-radius: 20px;
   box-shadow: 0px 0px 15px #460c0c;
   height: auto;
 }
 

 .menu label{
   
 }

 .title{
    text-align: center;
    margin-bottom:-10px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .dropdown{
    --border-radius: 30px;
 }
 ion-content{
   --background:#ECF0F6;
    
}

p {
  color: red;
}
.error-message{
    color: red;
    font-size: small;
    font-family:Arial;
  }
  ion-button {
  
    border-radius: 50px;
    box-shadow: 0px 0px 15px #460c0c;
    background-color: #444444;
    color: #ffffff;
  
}

ion-button:hover {
  box-shadow: 0px 0px 30px #460b10;
}

.overlay-container {
  position: relative;
}

.overlay-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffffff;
}

ion-searchbar,
.search {
  width: 100%  !important;
  margin-top: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


ion-footer {
  background-color: #300505;
  color: #fcfcfc;
  text-align: center;
}
/// Collapsing Butoon
.buttonH,
.buttonH *,
.buttonH :after,
.buttonH :before,
.buttonH:after,
.buttonH:before {
border: 0 solid;
box-sizing: border-box;
}

.buttonH {
-webkit-tap-highlight-color: transparent;
-webkit-appearance: button;
background-color: #000;
background-image: none;
color: #fff;
cursor: pointer;
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-size: 100%;
line-height: 1.5;
margin: 0;
-webkit-mask-image: -webkit-radial-gradient(#000, #fff);
padding: 0;
width: 100%;
}

.buttonH:disabled {
cursor: default;
}

.buttonH:-moz-focusring {
outline: auto;
}

.buttonH svg {
display: block;
vertical-align: middle;
}

.buttonH [hidden] {
display: none;
}

.buttonH {
box-sizing: border-box;
display: block;
font-weight: 900;
-webkit-mask-image: none;
padding: 2rem 5rem;
perspective: 800px;
position: relative;
text-transform: uppercase;
transform-style: preserve-3d;
}

.buttonH span {
background: #fff;
color: #000;
display: grid;
inset: 0;
place-items: center;
position: absolute;
transform: rotateX(0deg);
transform-origin: top center;
transition: 0.2s;
}

.buttonH:hover span {
transform: rotateX(35deg);
}

.buttonH:after,
.buttonH:before {
background: #ddd;
content: "";
height: 100%;
left: 0;
position: absolute;
top: 0;
transform: rotateX(0deg);
width: 100%;
z-index: -1;
}

.buttonH:after {
background: #ccc;
width: 0;
}

.buttonH:hover:after {
-webkit-animation: progress-bar 1.2s;
animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
0% {
  opacity: 1;
  width: 0;
}

10% {
  opacity: 1;
  width: 15%;
}

25% {
  opacity: 1;
  width: 25%;
}

40% {
  opacity: 1;
  width: 35%;
}

55% {
  opacity: 1;
  width: 75%;
}

60% {
  opacity: 1;
  width: 100%;
}

to {
  opacity: 0;
  width: 100%;
}
}

@keyframes progress-bar {
0% {
  opacity: 1;
  width: 0;
}

10% {
  opacity: 1;
  width: 15%;
}

25% {
  opacity: 1;
  width: 25%;
}

40% {
  opacity: 1;
  width: 35%;
}

55% {
  opacity: 1;
  width: 75%;
}

60% {
  opacity: 1;
  width: 100%;
}

to {
  opacity: 0;
  width: 100%;
}
}

// Button Submit code

.butSubmit{
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 1rem;
  color: rgb(21, 206, 45);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
 }
 
 .butSubmit:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
 }
 
 .butSubmit:hover:not(:disabled) {
  background: rgb(200, 201, 204);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
 .butSubmit:disabled {
  cursor: auto;
  color: grey;
 }

 .card-content {
  display: flex; /* Use flexbox to arrange forms side by side */
  gap: 20px; /* Add spacing between forms */
  flex-wrap: wrap; /* Allow forms to wrap to the next line if needed */
}
//Formas to upload Documents

.form {
  background-color: #fff;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(159, 159, 160);
  border-radius: 20px;
  padding: 2rem .7rem .7rem .7rem;
  text-align: center;
  font-size: 1.125rem;
  max-width: 285px;
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 2.1875rem;
  border-radius: 10px;
  border: 2px dashed rgb(171, 202, 255);
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 140, 255, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

//// Card layout

.Crd {
  --glow-color: rgb(176, 255, 251);
  --glow-spread-color: rgba(123, 246, 255, 0.781);
  --enhanced-glow-color: rgb(182, 71, 71);
  --btn-color: rgba(65, 65, 65, 0.508);
  border: 2px solid var(--glow-color);
  padding: 2px;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 20px;
  position: relative;
}

.field-input {
  width: 100%;
  min-height: 45px;
  //color: #444;
  color: rgba(65, 65, 65, 0.508);
  outline: none;
  transition: 0.35s;
  padding: 1px;
  //background-color: #444;
  //border-radius: 2px;
  //border: 2px solid #444;
  box-shadow: 6px 6px 10px rgb(107, 106, 106),
  1px 1px 10px rgba(255, 255, 255, 0.6);
}

.input::placeholder {
  color: #999;
}

.input-field:focus.input::placeholder {
  transition: 0.3s;
  opacity: 0;
}

.input-field:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0,0,0,1),
  1px 1px 10px rgba(255, 255, 255, 0.6),
  inset 2px 2px 10px rgba(0,0,0,1),
  inset -1px -1px 5px rgba(255, 255, 255, 0.6);
}



