/* score-capture.page.scss */
.header-title {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.main-grid {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #d6c1b5;
}

.container1 {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.user-card {
  width: 90%;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #e6d5ca;
  font-family: "Open Sans",'sans-serif';
}

.user-list ion-card {
  margin: 8px 0;
}

.user-list b {
  font-size: 18px;
}

.user-list p {
  font-size: 14px;
}

.score-card {
  width: 95%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #e6d5ca;
  color: rgb(48, 47, 47);
}

.score-label {
  font-size: 16px;
  font-weight: bold;
}

.score-input {
  width: 60px;
}

.total-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1; /* Add a background color to make it visually distinct */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Add a box shadow for a nice effect */
  font-size: 50px; /* Adjust the font size to your desired value */

}

.total-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-row {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.submitBtn,
.clearBtn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.submitBtn {
  background: linear-gradient(to left, #ff4d4d, #ff944d);
}

.clearBtn {
  background: linear-gradient(to left, #ff4d4d, #ff944d);
}

.submitBtn:hover,
.clearBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.innovation-lab {
  margin-top: 20px;
  font-size: 12px;
  color: #888;
}

ion-footer {
  background-color: #300505;
  color: #fcfcfc;
  text-align: center;
}

/* Center the label horizontally */
/* Center the label horizontally */
.custom-label {
  text-align: center;
}

/* Increase the font size */
.custom-label {
  font-size: 24px; /* You can adjust the value as needed */
}


