<!-- index.html -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="header-title">Score Capture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-grid">
    <!-- First ion-content -->
    <ion-content class="container1">
      <ion-card class="user-card">
        <div class="user-list">
          <ion-card>
            <b>Lerato Dlamini</b>
            <p>in progress until 10:00</p>
          </ion-card>
          <ion-card>
            <b>Solace Gatsheni</b>
            <p>10:00 to 10:40</p>
          </ion-card>
          <ion-card>
            <b>Andy Govender</b>
            <p>11:00 to 11:30</p>
          </ion-card>
        </div>
      </ion-card>
    </ion-content>

    <!-- Second ion-content -->
    <ion-content class="container2">
      <ion-card class="score-card">
        <ion-grid>
          <ion-row class="input-row">
            <ion-col>
              <ion-label class="score-label">Introduction</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="introduction" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label class="score-label">Teamwork</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="teamwork" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="input-row">
            <ion-col>
              <ion-label class="score-label">adaptability</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="adaptability"  (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label class="score-label">Teamwork</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="teamwork" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="input-row">
            <ion-col>
              <ion-label class="score-label">Problem Solving</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="problemSolving" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label class="score-label">Communication Skills</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="communicationSkills" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="input-row">
            <ion-col>
              <ion-label class="score-label">Job Specific Skills </ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="jobSpecificSkills" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label class="score-label">Leadership Skills</ion-label>
              <ion-input class="score-input" type="number" [(ngModel)]="leadershipSkills" (ionChange)="calculateTotal()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label class="custom-label">Total</ion-label>
        <ion-row class="total-row">
          <ion-col class="total-col">
            <ion-input class="score-input" [value]="total"></ion-input>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-row class="button-row">
        <ion-col>
          <button class="submitBtn" (click)="submitForm()">
            Submit
            <svg fill="white" viewBox="0 0 448 512" height="1em" class="arrow"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg>
          </button>
        </ion-col>
        <ion-col>
          <button class="clearBtn" (click)="Clear()">
            Clear
            <svg fill="white" viewBox="0 0 384 512" height="1em" class="x-icon">
              <path d="M217.94 256l150.52-150.52c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L152 189.06 1.48 38.54c-12.28-12.28-32.19-12.28-44.48 0L-.76 60.78c-12.28 12.28-12.28 32.19 0 44.48L150.52 256 1.48 406.52c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.19 12.28 44.48 0L152 322.94l150.52 150.52c12.28 12.28 32.19 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L217.94 256z"></path>
            </svg>
          </button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ion-grid>
</ion-content>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
