<ion-content class="modal-ion-content">
  <div class="modal-container">
    <p class="modal-message">Please provide a detailed explanation for declining the applicant's application:</p>
    <ion-item class="modal-item">
      <ion-label class="modal-label" position="floating">Reason</ion-label>
      <ion-textarea rows="6" cols="20" placeholder="Enter reason here..." class="modal-input" [(ngModel)]="reason" auto-grow="true" (ionChange)="formatBody()"></ion-textarea>
    </ion-item>

    <div class="modal-button-group">
      <ion-button class="modal-button" expand="block" color="danger" (click)="send()">Send</ion-button>
      <ion-button class="modal-button" expand="block" color="medium" (click)="dismiss()">Cancel</ion-button>
    </div>
  </div>
</ion-content>

