<ion-header>
  <ion-toolbar>
    <ion-img src="assets/img/mut_logoo.jpg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
  <ion-item>
  <ion-icon name="person"></ion-icon>
  <ion-input placeholder="Email address" type="email" [(ngModel)]="email"  required="required" id="mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="lock-closed"></ion-icon>
  <ion-input placeholder="Password" type="Password" [(ngModel)]="password"  required="required" id="pass"></ion-input>
  </ion-item>
  <br>
  
  <div class="ah">
  <a href="reset" class="ah">forgort password</a>
  </div>
  <br><br>

  <ion-button expand="full"  color="danger" (click)="login()">LOGIN</ion-button>
  <p class="par">Don't have account? <a href="sign-up">Sign up</a></p>
 
</ion-card-content>
</ion-card>
</ion-content>

