<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" class="phuto"  (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png" class="image-size" >
    </ion-buttons>
    <p class="title">Register </p>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>



  <form class="form">
    <p class="message">Signup now and get full access to our app. </p>     
    <label>
        <input required="" placeholder="" type="email" class="input" type="email" [(ngModel)]="email" name="email" (input)="emailError = null;">
        <span>Email</span>
    </label> 
    <div class="error-message" *ngIf="emailError">{{ emailError }}</div>
        
    <label>
        <input required="" placeholder="" type="password" class="input" type="password" [(ngModel)]="password" name="password" (input)="passwordError = null;">
        <span>Password</span>
    </label>
    <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>
    <label>
        <input required="" placeholder="" type="password" class="input" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="confirmPasswordError = null;">
        <span>Confirm password</span>
    </label>
    <div class="error-message" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>
    <button class="submit" type="submit" expand="block" (click)="register()" (click)="login()">Submit</button>
    <p class="signin">Already have an acount ? <a href="applicant-login">Signin</a> </p>
</form>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>