

<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" class="custom-logo-button" (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png" class="custom-logo">
    </ion-buttons>
    <h2 class="custom-header-title">LOGIN PAGE</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
      <div class="custom-form">
        <ion-label class="custom-label">Email Address</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input required="" placeholder="" type="email" class="input" type="email" [(ngModel)]="email" name="email" (input)="emailError = null;"></ion-input>
        </ion-item>
        <ion-label class="custom-label">Password</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input required="" placeholder="" type="password" class="input" type="password" [(ngModel)]="password" name="password" (input)="passwordError = null;"></ion-input>
        </ion-item>
        <ion-label class="custom-label">Confirm Password</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input required="" placeholder="" type="password" class="input" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="confirmPasswordError = null;"></ion-input>
        </ion-item>
        <ion-button class="submit" type="submit" expand="block" (click)="register()" (click)="login()">LOGIN</ion-button>
        <div class="custom-links">
          <div class="custom-links">
            <ion-label>Already have an account?</ion-label>
            <ion-label class="custom-link" (click)="login()">Sign-In</ion-label>
          </div>
        </div>
      
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
