<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" class="phuto"  (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png" class="image-size" >
    </ion-buttons>
    <h2 class="header-title">REGISTER PAGE</h2>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('assets/tiny.jpg') no-repeat center / cover;">
  

  <div class="centerAllItems">
     
          <div class="centerImg">
            <img src="assets\logo.jpg" alt="" srcset="" />
          </div>
        

  <ion-card>
    <ion-card-content>
        <br>
<div class="color2">
           <ion-label >Email Address</ion-label>
            <ion-item class="rounded">
              <ion-input type="email" [(ngModel)]="email" name="email" (input)="emailError = null;"></ion-input>
            </ion-item>
            <div class="error-message" *ngIf="emailError">{{ emailError }}</div>


          <br>

          <ion-label class="color3">Password</ion-label>
          <ion-item class="rounded">
            <ion-input type="password" [(ngModel)]="password" name="password" (input)="passwordError = null;"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="passwordError">{{ passwordError }}</div>

          <br>

          <ion-label class="color3">Confirm Password</ion-label>
          <ion-item class="rounded">
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" (input)="confirmPasswordError = null;"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>

          <br>
        </div> 
        <ion-button type="submit" expand="block" (click)="register()" (click)="login()" >REGISTER</ion-button>
        <ion-label>Already have an account?</ion-label>
        <ion-label class="accountExists" (click)= login()>Login</ion-label>
       
    </ion-card-content>
  </ion-card>
        </div>
  </ion-content>
  <ion-footer>
    Designed by @<b>MUT INNOVATIONLAB</b>
  </ion-footer>