 /*TABLE STYLE*/
 .bordered {
  border-collapse: collapse;
  width: 100%;
}

ion-footer {
  background-color: #300505;
  color: #fcfcfc;
  text-align: center;
}

/* Header styles */
.color th {
  background-color: #641c1c;
  color: white;
  font-weight: bold;
}


/* Row styles */
.body tr:nth-child(even) {
  background-color: #7A726A;
}

.body tr:nth-child(odd) {
  background-color: #EBDDDD;
}

/* Cell styles */
.cent td, .cent th {
  text-align: center;
  padding: 8px;
}

/* Icon styles */
.cent ion-icon {
  margin-right: 5px;
}

.logout-button {
  margin-right: 10px;
  --color: white; /* Sets the color of the button text to white */
  --ion-color-base: white; /* Sets the background color of the button to white */
}

.total-text {
  font-weight: bold;
  margin-top: 10px;
}


.horizontal-button {
  display: inline-block;
  width: 60px;
  height: 40px;
  margin-right: 10px;
  padding: 0;
  border-radius: 0;
}

.horizontal-button.approve-button {
  --background: green;
  --color: green;
}

.horizontal-button.decline-button {
  --background: red;
  --color: red;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  
  visibility: hidden;
  width: 200px;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
  
}

ion-content {
  --background:#ECF0F6;
}


/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}
/* Show the tooltip text when hovering over the container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.pagination {
  display: flex;
  justify-content: center;
}

.centered-buttons {
  display: flex;
  justify-content: center;
}


.pagination {
  display: flex;
  justify-content: center;
}

.centered-buttons {
  display: flex;
  justify-content: center;
}

.pagination-button {
  background-color: #c42e2e;
  color: white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


//menu
img{
  width: 100px;
  height: 60px;
}
ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#popover-button {
  color: white;
}


.header-title {
  margin: 0 auto;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

.munu {
 color: #000000;
 font-family:Arial;
 height: 50px; /* Set the desired height value */
}
ion-menu-button {
 color: white;
}
img {
width: 100px; /* Adjust the desired width */
height: 60px; /* Adjust the desired height */
}

ion-toolbar{
  --background:blue
}