<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Schedule Interview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">

  <h1 class="section-title">Interviewee Details</h1>
  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="Interviewee ID" type="text" [(ngModel)]="int_id" pattern="[0-9]*"></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="First Name" type="text" [(ngModel)]="name" id="f_name" pattern="[a-zA-Z ]*"></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="Last Name" type="text" [(ngModel)]="surname" id="l_name" pattern="[a-zA-Z ]*"></ion-input>
  </ion-item>

  <ion-item class="input-item">
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input placeholder="Email Address" type="email" [(ngModel)]="email" required="required" id="email"></ion-input>
  </ion-item>

  <ion-item class="input-item" fill="outline">
    <ion-label>Date of Birth</ion-label>
    <ion-datetime-button  datetime="birthDatee"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="birthDatee" (ionChange)="($event)" presentation="date"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-button expand="full" color="danger" class="action-button" (click)="submit()">Submit</ion-button>
  <ion-button expand="full" color="dark" class="action-button">Scheduled Interviews</ion-button>
</ion-content>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
