<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-toolbar>
      <ion-img src="assets/img/mut_logoo.jpg"></ion-img>
    </ion-toolbar>
    <ion-title class="header-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-container">
<ion-card class="constant">
  <h1 class="section-title"></h1>

  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input
    placeholder="Interviewee ID"
    type="number"
    [(ngModel)]="int_id"
    pattern="[0-9]*"
    maxlength="13"
  ></ion-input>
  
  </ion-item>

  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="First Name" type="text" [(ngModel)]="name" id="f_name" pattern="[a-zA-Z ]*" required></ion-input>
  </ion-item>
  
  <ion-item class="input-item">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-input placeholder="Last Name" type="text" [(ngModel)]="surname" id="l_name" pattern="[a-zA-Z ]*" required></ion-input>
  </ion-item>
  

  <ion-item class="input-item">
    <ion-icon name="mail" slot="start"></ion-icon>
    <ion-input placeholder="Email Address" type="email" [(ngModel)]="email" required="required" id="email"></ion-input>
  </ion-item>

  <ion-item class="input-item" fill="outline">
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime-button  datetime="birthDatee"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="birthDatee" [(ngModel)]="date"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  
  
  <ion-button expand="full" color="danger" class="action-button" (click)="submit()">Schedule</ion-button>
</ion-card>
</ion-content>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
