
<ion-menu contentId="main-content"  >
  <ion-header >
    <ion-toolbar>
      <ion-title class="munu">Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" >
    <ion-list >
      <ion-item button (click)="goToAddUser()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-label>Add User</ion-label>
      </ion-item>
      <ion-item button (click)="goToGraded()">
        <ion-icon slot="start" name="checkmark-done-sharp"></ion-icon>
        <ion-label>Graded Interviews</ion-label>
      </ion-item>
      <ion-item button (click)="goToScores()">
        <ion-icon slot="start" name="person-add"></ion-icon>
        <ion-label>Score capture</ion-label>
      </ion-item>
      <ion-item button (click)="goToScheduledInterviews()">
        <ion-icon slot="start" name="book"></ion-icon>
        <ion-label>Scheduled Interviews</ion-label>
      </ion-item>
      <ion-item button  (click)="goToAllApplicants()">
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>All Applicants</ion-label>
      </ion-item>
      <ion-item button (click)="goToInterviewHistory()" >
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>History</ion-label>
      </ion-item>
      <ion-item button  (click)="presentConfirmationAlert()">
        <ion-icon slot="start" name="exit"></ion-icon>
        <ion-label>Sign Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start" class="phuto" (click)="goToHomePage()">
        <img src="assets\MUT LOGO.png" >
      </ion-buttons>
      <h2 class="header-title">DASHBOARD</h2>
      <ion-buttons slot="end">
        <ion-button>
            <ion-button id="popover-button"><ion-icon name="person"></ion-icon></ion-button>
         
          <ion-popover trigger="popover-button" [dismissOnSelect]="true">
            <ng-template>
              <ion-content>
                <ion-list >
                  <ion-item lines="none" [button]="true" [detail]="false" (click)="goToStaffProfile()"><ion-icon name="eye"></ion-icon> &nbsp;  VIEW PROFILE</ion-item>
                  <ion-item lines="none" [button]="true" [detail]="false" (click)="goToAllUsers()"><ion-icon name="eye" ></ion-icon> &nbsp;  Registered Users</ion-item>
                  <ion-item lines="none" [button]="true" [detail]="false"  (click)="presentConfirmationAlert()"><ion-icon color="danger" name="exit"></ion-icon>&nbsp;<p>LOGOUT</p></ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
<ion-content class="ion-padding">

  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card class="dashboard-card" color="danger" (click)= goToAllApplicants()>
          <ion-icon name="person"></ion-icon>
          <h2>All Applicants</h2>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="dashboard-card" color="danger" (click)= goToAllUsers()>
          <ion-icon name="calendar"></ion-icon>
          <h2>All Users</h2>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="dashboard-card" color="danger" (click)= goToScheduledInterviews()>
          <ion-icon name="clipboard"></ion-icon>
          <h2>Check Scheduled Interviews</h2>
        </ion-card>
      
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="dashboard-card" color="danger" (click)= goToGraded()>
          <ion-icon name="clipboard"></ion-icon>
          <h2>Graded Interviews</h2>
        </ion-card>
      </ion-col><ion-col size="12" size-md="4">
        <ion-card class="dashboard-card" color="danger" (click)= goToAddUser()>
          <ion-icon name="clipboard"></ion-icon>
          <h2>Add Users</h2>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>




