<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" class="custom-logo-button" (click)="goToHomePage()">
      <img src="assets\MUT LOGO.png" class="custom-logo">
    </ion-buttons>
    <h2 class="custom-header-title">LOGIN PAGE</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="custom-card">
    <ion-card-content>
      <div class="custom-form">
        <ion-label class="custom-label">Email Address</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input type="email" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-label class="custom-label">Password</ion-label>
        <ion-item class="custom-input rounded">
          <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" (click)="log()" class="custom-button">LOGIN</ion-button>
        <div class="custom-links">
          <ion-label>Don't have an account?</ion-label>
          <ion-label class="custom-link" (click)="goToSignUp()">Sign Up</ion-label>
        </div>
        <ion-label class="custom-forgot-link">Forgot Password?</ion-label>
        <ion-label class="custom-link" (click)="reset()">Reset</ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="custom-footer">
  Designed by @<b>MUT INNOVATIONLAB</b>
</ion-footer>
