// src/app/home/home.page.scss

ion-header {
  ion-toolbar {
    --background: #3498db;
    color: #fff;
  }
}

ion-content {
  --ion-background-color: #f0f2f5;
}

ion-searchbar {
  --placeholder-color: #777;
  --color: #333;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

ion-card {
  margin: 16px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

ion-card-header {
  background: #3498db;
  color: #fff;
  font-weight: bold;
}

ion-card-content {
  padding: 16px;
}

ion-thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 16px;
  border-radius: 10px;
}

ion-label {
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
  }
  p {
    margin: 8px 0;
    color: #777;
  }
}

ion-list {
  --ion-background-color: transparent;
}

ion-item {
  --ion-background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  ion-label {
    font-weight: bold;
    color: #333;
  }
}

