<!-- home.page.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title class="header-title">
      My Stylish App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="image-container">
      <img src="assets/logo.jpg" alt="Logo" class="logo">
    </div>
    <h1 class="app-title">Welcome to Our Stylish App</h1>
    <p class="app-description">Discover the beauty of our app.</p>
    <ion-button expand="block" shape="round" color="secondary" routerLink="/about" routerDirection="forward" class="learn-more-button">
      Learn More
    </ion-button>
  </div>
</ion-content>
